/* Змінні */
:root {
    --main-text: #434455;
    --header-text: #2E2F42;
    --acent-color: #4D5AE5;
    --contrast-color-of-text: #FFFFFF;
    --hover-focus-color: #404BBF;
    --overlays-shadows-headings: #2E2F42;
    --light-background: #F4F4FD;
    --sutle-backgrounds: #E7E9FC;
    --helper-text: #8E8F99;
    --valid-fields: #31D0AA;
    --gradient-hero: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));

}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--main-text);
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

ul {
    margin: 0;
    padding-left: 0;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

button {
    cursor: pointer;
    border: 0;
    padding: 0;
}

/* header */
.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
}


.header-logo {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;

    color: var(--header-text);

}

.logo-acent {
    color: var(--acent-color);
}

.header-list {
    display: none;
}

.menu-hamburger-btn {
    display: block;
    margin-left: auto;
    background-color: transparent;
}


.icon-menu-hamburger {
    stroke: #000000;
}


.contacts-email,
.contacts-phone {
    display: none;
}

/* mobile-menu */

.container-mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 80px 40px 40px 40px;
}

.mobile-menu-container-contacts-soc {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100vh;

    background-color: #FFFFFF;

    overflow-y: auto;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    transform: translateX(0);
}


.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--header-text);
}

.mobile-menu-item.current {
    color: var(--hover-focus-color);
}

.mobile-menu-link.current {
    color: var(--hover-focus-color);
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.socnetwork-list-mobile-menu {
    display: flex;
    gap: 16%;
}

.socnetwork-link-mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    background-color: var(--acent-color);
    border-radius: 50%;
}

.mobile-menu-button-close {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--sutle-backgrounds);
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button-close:is(:hover, :focus) {
    background-color: var(--hover-focus-color);
    border: 1px solid var(--hover-focus-color);
}

.mobile-menu-contact-phone {
    display: inline-block;
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;

    color: var(--acent-color);
}

.mobile-menu-contact-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--main-text);
}

@media screen and (max-width: 418px) {

    .mobile-menu-contact-phone {
        font-size: 24px;
    }


    .mobile-menu-link {
        font-size: 30px;
    }

    .mobile-menu-contact-email {
        font-size: 15px;
    }

}

/* hero */

.section-hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: var(--overlays-shadows-headings);

    margin-left: auto;
    margin-right: auto;
    background-image: var(--gradient-hero),
        url(../images/hero/mob-bcg@1x.jpg)
    background-repeat: no-repeat;
    background-size: cover;

}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-hero {
        background-image: var(--gradient-hero), url(../images/hero/mob-bcg@2x.jpg);
    }
}



.hero-title {
    margin-bottom: 72px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--contrast-color-of-text);
}

.hero-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    border: 0;

    background-color: var(--acent-color);
    color: var(--contrast-color-of-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hover-focus-color);
}

/* values */

.values-list {
    display: flex;
    flex-wrap: wrap;
}


.values-icon-container {
    display: none;
}

.values-item {
    width: 100%;

    margin-bottom: 72px;
}

.values-item:last-child {
    margin-bottom: 0;
}

.values-subtitle {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--header-text);
}

.values-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* services */
.section.section-services {
    display: none;
}

/* team */

.section-team {
    background-color: var(--light-background);
}


.team-container.container-mini {
    width: 296px;
}

.team-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--header-text);

}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    gap: 72px 24px;
}

.team-member {
    width: 100%;
    /* margin-bottom: 72px; */

    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

}

.profession {
    margin-bottom: 12px;
}

.socnetwork-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}


.socnetwork-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: var(--acent-color);


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socnetwork-link:hover,
.socnetwork-link:focus {
    background-color: var(--hover-focus-color);
    border-radius: 50%;
}

.team-member-photo {
    width: 100%;

}

.name-position {
    padding-top: 32px;
    padding-bottom: 32px;
}

.name {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--header-text);

}

.profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

}

/* customers  */

.customers-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--header-text);

}

.customers-list {
    display: flex;
    row-gap: 72px;
    column-gap: 16px;

    flex-wrap: wrap;
}

.customers-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid var(--helper-text);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    fill: var(--helper-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:is(:hover, :focus) {
    border-color: var(--hover-focus-color);
}

.client-link:is(:hover, :focus)>.customers-icon {
    fill: var(--hover-focus-color);
}

/* footer */
.section-footer {
    background-color: var(--overlays-shadows-headings);
}

.footer-content {
    margin-bottom: 72px;
}

.footer-logo {
    display: block;
    text-align: center;
    margin-bottom: 16px;

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;

    color: #F4F4FD;
}

.footer-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 268px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #E7E9FC;
}

.footer-socnetworks {
    margin-bottom: 72px;
}

.socnetworks-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    margin-bottom: 16px;

    color: var(--contrast-color-of-text);
}

.socnetwork-list-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.socnetwork-item-footer {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.socnetwork-link-footer:hover
.socnetwork-link-footer:focus {
    background-color: var(--valid-fields);
    border-radius: 50%;
}


/* footer-form */

.subscribe-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    margin-bottom: 16px;

    color: var(--contrast-color-of-text);
}

.input-field {
    position: relative;
}

.button-subscribe {
    display: block;
    position: relative;

    margin-left: auto;
    margin-right: auto;
    min-width: 165px;
    padding: 8px 24px;

    text-align: left;
    color: var(--contrast-color-of-text);
    background-color: var(--acent-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-subscribe:hover,
.button-subscribe:focus {
    background-color: var(--hover-focus-color);
}

.icon-subscribe {
    position: absolute;
    right: 24px;

    fill: var(--contrast-color-of-text);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.subscribe-input {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    padding: 8px 16px;
    height: 40px;
    width: 100%;

    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 2;

    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
}

.subscribe-form-field input:hover,
.subscribe-form-field input:focus {
    outline: none;
}

/* portfolio */

.header-portfolio {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* works-buttons (filters) */

.section-works {
    padding-top: 48px;
    padding-bottom: 48px;

}

.works-title {
    visibility: hidden;
}

.works-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 48px;
}

.works-btn {
    display: block;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    color: var(--acent-color);
    background-color: var(--light-background);
    border: 1px solid var(--sutle-backgrounds);
    border-radius: 4px;
    padding: 8px 16px;


    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-btn:is(:hover, :focus) {
    color: var(--contrast-color-of-text);
    background-color: var(--hover-focus-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 1px solid var(--hover-focus-color);
}

/* works-cards */
.works-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.card {
    width: 100%;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.card-link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.card-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;

}

.portfolio-overlay {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(100%);

    background-color: var(--acent-color);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.portfolio-text-overlay {
    position: absolute;
    top: 40px;
    left: 32px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-background);
    max-width: 296px;
}

.card-link:is(:hover, :focus) .portfolio-overlay {
    transform: translateY(0);
}

.card-content {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-bottom: 1px solid var(--sutle-backgrounds);
    border-left: 1px solid var(--sutle-backgrounds);
    border-right: 1px solid var(--sutle-backgrounds);
}


.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1, 2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

    color: var(--header-text);
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--main-text);

}


/* modal */

.backdrop {
    position: fixed;
    background: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    overflow-y: scroll;
}



.backdrop.is-hidden>.modal {
    transform: scale(0.7) translate(-50%);
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 10px;
    left: 50%;

    visibility: visible;

    padding: 72px 16px 24px 16px;
    width: 92%;
    min-height: 576px;


    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: scale(1) translate(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-exit {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--sutle-backgrounds);
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-exit:is(:hover, :focus) {
    background-color: var(--hover-focus-color);
    border: 1px solid var(--hover-focus-color);
}

.modal-icon-exit {
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-exit:is(:hover, :focus) {
    fill: #ffffff;
}

.modal-button-exit:is(:hover, :focus)>.modal-icon-exit {
    fill: #ffffff;
}



/* form-registration */
.form-registration {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.registration-title {
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--overlays-shadows-headings);
}

.registration-input {
    display: block;

    padding: 11px 16px 11px 38px;

    width: 100%;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    text-align: left;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.registration-input:focus {
    border-color: var(--acent-color);
}

.registration-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;

    color: #8E8F99;
}

.registration-label.name {
    text-align: left;
}

.registration-input-container {
    position: relative;
    margin-bottom: 8px;
}

.registration-input-container.comment {
    margin-bottom: 16px;
}

.registration-input-container:focus-within>.icon-registration {
    fill: var(--acent-color);
    border: var(--acent-color);
}

.registration-input.comment {
    padding: 8px 16px 8px 16px;

    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;

    resize: none;
}

.registration-input.comment::placeholder {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;

    color: rgba(117, 117, 117, 0.5);
}

.checkbox-registration.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}


.label-acception {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;

    color: #757575;
}

.checkbox-acception-container {
    margin-bottom: 24px;
}

.policy-information {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;

    color: #4D5AE5;
    margin-left: 5px;
}

@media screen and (max-width: 404px) {

    .label-acception {
        font-size: 10px;
    }

    .policy-information {
        font-size: 10px;
    }
}

@media screen and (max-width: 372px) {

    .label-acception {
        font-size: 9px;
    }

    .policy-information {
        font-size: 9px;
    }
}

@media screen and (max-width: 320px) {

    .label-acception {
        font-size: 8px;
    }

    .policy-information {
        font-size: 8px;
    }
}


.label-acception {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-acception {
    margin-right: 8px;
}

.icon-registration {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.icon-registration.name {
    margin-bottom: 0;
}

.checkbox-icon {
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.checkbox-registration:checked+.checkbox-icon {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-color: var(--acent-color);
    border-radius: 2px;
}

.registration-button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 16px 32px 16px 32px;

    min-width: 169px;
    height: 56px;

    color: var(--contrast-color-of-text);
    background-color: var(--acent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.registration-button:hover,
.registration-button:focus {
    background-color: var(--hover-focus-color);
}

.modal-form-agreement-icon {
    margin-right: 8px;
}

.modal-form-agreement-checked {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked+.modal-form-agreement-icon>.modal-form-agreement-checked {
    opacity: 1;
}


.modal-form-agreement-unchecked {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked+.modal-form-agreement-icon>.modal-form-agreement-unchecked {
    opacity: 1;
}